body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color:rgb(92, 228, 233, 0.7);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  box-shadow: 2px 4px 8px 0 rgb(94, 94, 94);
}

.lead {
  margin-top: 2rem;
}

/* Calendar */

.row {
  border: 5px solid white;
}

.container {
  width: 70%;
  margin-bottom: 2rem;
}

.hour {
  background-color: rgb(92, 228, 233);
  color: #000000;
  padding: 1rem;
  width: 10%;
}

textarea{
  border: none;
  resize: none;
  color: #000000;
  padding: 1rem;
  height: 7rem;
  width: 80%;
}

.save {
  background-color: rgb(162, 102, 219);
  padding: 1rem;
  width: 10%;
}

.save:hover {
  cursor: pointer;
  background-color: rgb(145, 91, 196);
}

.hour,
.save {
  text-align: center;
  padding-top: 2.8rem;
}

/* Get rid of blue line around input area */
input:focus, textarea {
  outline: none !important;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  width: 7rem;
  height: 7rem;
}

.item {
  background-color: #278f41;

}

.past, .present {
  opacity: 1;
}

.future {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {

  .jumbotron h1 {
    font-size: 3rem;
  }

  p {
    font-size: 0.5rem;
  }

  .container {
    width: 100%;
  }

  .hour,
  .save {
    padding: 0.2rem;
    padding-top: 2.8rem;
    width: 15%;
  }

  textarea {
    width: 70%;
  }

}